@tailwind base;
@tailwind components;
@tailwind utilities;

.active_tag_product {
  @apply bg-black text-white;
}

.slick-prev::before {
  color: black;
  font-size: 40px;
}

.slick-arrow::before {
  color: black;
  font-size: 40px;
}